typing-extensions>=4.9.0
protobuf==4.25.5
pydantic>=2.4.2
huggingface-hub>=0.20.3
unstructured>=0.12.6
petals @ git+https://github.com/bigscience-workshop/petals.git@22afba627a7eb4fcfe9418c49472c6a51334b8ac
